.board-box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  box-shadow: 10px 10px black;
}

.board-box button{
  width: 33.333%;
  height: 33.333%;
  border: 3px solid black;
  color: black;
  font-size: 50px;
  font-weight: bolder;
}
.board {
  text-align: center;
}

.result{
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  border: 2px inset blue;
}

.reset{
  margin-top: 40px;
  background: yellow;
  width: 100px;
  height: 50px;
}

.red{
  background: red;
}

.green{
  background: green;
}

.history-board{
  box-shadow: 10px 10px #000000;
  padding: 10px;
  width: 200px;
  text-align: center;
  height: 200px;
  border: 1px solid black;
  margin: -400px 0 0 200px;
}